@import "tailwindcss";

.text-outline {
  -webkit-text-stroke: 0.5px white; 
  color: black;
  font-size: 20px;
  
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
  background-color: lightgrey;
}