@import "tailwindcss";

.text-outline {
  -webkit-text-stroke: 0.5px black; 
  color: white;
  font-size: 30px
  
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:hover {
  background-color: lightgrey;
}