@import "tailwindcss";

.text-outline {
  color:white;
  font-size: 20px;
  
}

table, th, td {
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
}

tr:hover {
  background-color: lightgrey;
}

.diphylleia-regular {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}
